REMOTE_STORAGE_PATH="00.00.00.00:/vol-00000-1"
LOCAL_STORAGE_MOUNT="/mnt/storage"
LOCAL_BACKUP_MOUNT="/mnt/backup"
MYSQL_USER="debian-sys-maint"
MYSQL_PASS="xxxxxxxxx"
OBNAM_REPO_NAME="obnam"

LOCAL_EXPORT_FOLDER="/backup"

FOLDERS_TO_BACKUP="\
/etc\
,/usr/local/bin\
"

FOLDERS_TO_EXCLUDE="\
/tmp/1\
,/tmp/2\
"
